<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="body-signup">
    <a class="page-title" href=""><h1>Sign up</h1></a>
    <main class="main-signup">
        <form action="" method="">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Serie" name="username">

            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="serie@gmail.com" required>

            <label for="pass">Password</label>
            <input type="password" id="pass" name="password" minlength="8" required>
            
            <label for="pass">Verify password</label>
            <input type="password" id="pass" name="password" minlength="8" required>
            
            <input type="submit" value="Sign up">
        </form>
    </main>

    <script src="../dist/js/visibility.js"></script>
</body>
</html>