<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
    <a class="page-title" href=""><h1>Add Serie</h1></a>
    <main class="main-create">
        <form action="" method="">
            <fieldset>
                <label for="img">Add cover:</label>
                <input type="file" id="img" name="img" accept="image/*">
            </fieldset>

            <fieldset>
                <label for="title">Title</label>
                <input type="text" id="title" placeholder="Serie name">
            </fieldset>
            
            <label for="genres">Genres</label>
            <fieldset>
                <!-- Hier moet een foreach met de genres vanuit de database -->
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1"> I have a bike</label>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                <label for="vehicle2"> I have a car</label>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
            </fieldset>
            
            <fieldset>
                <label for="overview">About</label>
                <textarea name="overview" rows="10" cols="30"></textarea>
            </fieldset>
            
            <input type="submit" value="Add Serie">

        </form>
    </main>
    <script src="/dist/js/scripts.js"></script>
</body>
</html>