<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="body-details">
  <header class="header-details">
    <nav>
      <a href=""></a>
    </nav>
    <img src="../dist/img/404-cover.jpg" alt="404">
    <div class="overlay-detail"></div>
  </header>
  <main>
      <h1>Tomorrow</h1>
      <!-- Hier moet een foreach komen waarbij de genres van de series van de database wordt weergegeven -->
      <ul class="header-genres">
        <li>drama</li>
        <li>scifi-fantasy</li>
        <li>action-adventure</li>
    </ul>
    <h2>About</h2>
    <p>Choi Jun-Woong (Ro Woon) looks for a job, but it is hard for him to get hired. One night, he accidentally meets grim reapers Koo Ryeon (Kim Hee-Seon) and Im Ryoog-Gu. The two grim reapers belong to a crisis management team. Koo Ryeon is the leader and Lim Ryung-Gu is a member. Their objective is to save suicidal people. Soon, Choi Jun-Woong becomes a new member of the crisis management team.</p>
  </main>

  <script src="/dist/js/scripts.js"></script>
</body>
</html>