  <h2>Add Serie</h2>
  <form action="/series" method="POST">

      <!-- <label for="">Add cover</label>
      <input type="file" name="cover" /><br /><br /> -->

      <label for="">Title</label>
      <input 
      type="text" 
      placeholder="Serie name" 
      required id="title" 
      name="title"
       />

      <!-- <label for="">About</label>
      <textarea type="text" placeholder="About" required id="about"></textarea>

      <label for="">Genres</label>
      <div>
          <input type="checkbox" name="genre" value="drama" />
          <label for="">Drama</label>

          <input type="checkbox" name="genre" value="comedy" />
          <label for="">Comedy</label>

          <input type="checkbox" name="genre" value="family" />
          <label for="">Family</label>

          <input type="checkbox" name="genre" value="reality" />
          <label for="">Reality</label>

          <input type="checkbox" name="genre" value="bl" />
          <label for="">BL</label>

          <input type="checkbox" name="genre" value="actionAdventure" />
          <label for="">Action & Adventure</label>

          <input type="checkbox" name="genre" value="mystery" />
          <label for="">Mystery</label>

          <input type="checkbox" name="genre" value="scifi" />
          <label for="">Scifi & Fantasy</label>

          <input type="checkbox" name="genre" value="talk" />
          <label for="">Talk</label>

          <input type="checkbox" name="genre" value="warPolitics" />
          <label for="">War & Politics</label>
      </div> -->

      <button type="submit" value="Add Serie">Voeg toe</button>
  
  </form>