<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="body-series">
    <h1>Choose Series</h1>

    <!-- Als de gebruiker een account heeft, wordt de avatar en username getoond -->
    <a class="user-profile" href="">
        <section>
            <h2>Xiao xiao</h2>
            <img src="../dist/img/user-1.jpg" alt="Xiao xiao">
        </section>
    </a>

    <button>Add Series</button>

    <main class="main-series">
        <!-- 1 article moet in een foreach komen -->
        <article>
            <img src="../dist/img/404-cover.jpg" alt="404">
            <form action="" method="post">
                <button>
                    <!-- Een if else moet hier komen zodat het hartje van de serie paars wordt ipv wit -->
                    <span class="heart-default"></span>
                </button>
                <input type="hidden" name="serieId" value="" />
            </form>
            <h3>Tomorrow</h3>
        </article>

        <article>
            <img src="../dist/img/404-cover.jpg" alt="404">
            <form action="" method="post">
                <button>
                    <!-- Een if else moet hier komen zodat het hartje van de serie blauw wordt ipv wit -->
                    <span class="heart-default"></span>
                </button>
                <input type="hidden" name="serieId" value="" />
            </form>
            <h3>Tomorrow</h3>
        </article>
        <article>
            <img src="../dist/img/404-cover.jpg" alt="404">
            <form action="" method="post">
                <button>
                    <!-- Een if else moet hier komen zodat het hartje van de serie blauw wordt ipv wit -->
                    <span class="heart-default"></span>
                </button>
                <input type="hidden" name="serieId" value="" />
            </form>
            <h3>Tomorrow</h3>
        </article>
        <article>
            <img src="../dist/img/404-cover.jpg" alt="404">
            <form action="" method="post">
                <button>
                    <!-- Een if else moet hier komen zodat het hartje van de serie blauw wordt ipv wit -->
                    <span class="heart-default"></span>
                </button>
                <input type="hidden" name="serieId" value="" />
            </form>
            <h3>Tomorrow</h3>
        </article>
        <article>
            <img src="../dist/img/404-cover.jpg" alt="404">
            <form action="" method="post">
                <button>
                    <!-- Een if else moet hier komen zodat het hartje van de serie blauw wordt ipv wit -->
                    <span class="heart-default"></span>
                </button>
                <input type="hidden" name="serieId" value="" />
            </form>
            <h3>Tomorrow</h3>
        </article>
    </main>
    <script src="../dist/js/visibility.js"></script>
</body>
</html>
