<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="body-sign">
    <a href=""><h1>Sign in</h1></a>
    <main class="main-sign">
        <form action="" method="">
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="serie@gmail.com" required>

            <label for="pass">Password</label>
            <input type="password" id="pass" name="password" minlength="8" required>
            <h2>Forgot password</h2>
            <input type="submit" value="Sign in">
        </form>
    </main>

    <label for="username">Username</label>
    <input type="text" id="username" name="username">


    <script src="/dist/js/scripts.js"></script>
</body>
</html>