<meta charset="UTF-8">
<meta name="description" content="Find your perfect match for yourself and your pet!">
<meta name="author" content="Hicham Sahla">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EJS Is Fun</title>

<link rel="stylesheet" type="text/css" href="../dist/css/main.css" />
<script src="/dist/js/scripts.js"></script>
