 /* TODO SCSS webpack toevoegen */
#frame {
  margin-top: 10px;
  height: 150px;
  width: auto;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #078080;
  background-color: #078080;
  padding: 10px;
}