h1 {
    @include font26;
    margin-bottom: 30px;
}

.add-serie {
    @include btn-1;
    display: block;
    padding: 10px 20px;
    margin: 50px 0px 30px auto;
    width: fit-content;
    border-radius: 10px;
    font-weight: normal;
}

.main-series {
    @include grid(1fr 1fr, 40px 20px);

    a {
        color: $white;
    }

    img {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 20px;
    }

    button {
        background: none;
        border: none;
    }

    article {
        position: relative;
    }

    form {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    h3 {
        @include font16;
    }
}

.heart-default {
    display: block;
    background: url(../../../dist/img/heart-default.svg) center center no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 45px;
    transition: .4s;
    cursor: pointer;
}

.heart-default:hover {
    background: url(../../../dist/img/heart-hover.svg) center center no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 45px;
    transition: .4s;
    cursor: pointer;
}

.heart-default:active {
    background: url(../../../dist/img/heart-active.svg) center center no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 45px;
    transition: .4s;
    cursor: pointer;
}

.heart-added {
    background: url(../../../dist/img/heart-added.svg) center center no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 45px;
    transition: .4s;
    cursor: pointer;
}

.btn-contact {
    @include btn-2;
    display: block;
    margin-top: 50px;
    text-align: center;
}

.header-series {
    margin-bottom: 30px;

    ul {
        @include flex(column, 30px);

        li:first-of-type {
            @include font26;
            font-weight: bold;
        }
    }

    a {
        display: block;
    }
}

.logout {
    @include btn-2;
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
}