::placeholder {
    font-family: $font-stack;
    color: rgba($black, 0.5);
}

.page-title {
    position: relative;
    display: block;
    width: fit-content;

    h1 {
        margin-left: 20px + 9px;
        &::before {
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            background-image: url(../../dist/img/i-arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 9px;
            height: 15px;
        }
    }
}

.form-form-test {
    @include flex(column, 30px);

    label {
        @include font18;
        font-weight: bold;

        & > label {
            margin-bottom: -30px;
        }
    }

    fieldset {
        border: none;
    
        &:first-of-type, &:nth-of-type(2), &:last-of-type {
            @include flex(column, 10px);
        }

        &:first-of-type {
            label {
                @include btn-2;
                padding: 10px 20px;
                width: fit-content;
                border-radius: 10px;
                font-weight: normal;
            }
        }

        &:nth-of-type(3) {
            @include grid(20px 1fr, 5px 10px);
            align-items: center;
            margin-top: -20px;

            label {
                font-weight: normal;
            }
        }
    }

    input[type="file"] {
        display: none;
    }

    input[type = 'checkbox'] {
        width: 20px;
        height: 20px;
    }

    input[type = 'text'], textarea {
        @include font18;
        padding: 13px 20px;
        border: none;
        border-radius: 10px;
    }

    textarea {
        height: 200px;
    }

    input[type = 'submit'] {
       @include btn-1;
    }
}