h1 {
    color: $white;
}

.main-sign {
    form {
       @include flex(column, 10px);
    }

    h2 {
        @include font18;
        margin-bottom: 50px;
        font-weight: normal;
        text-decoration: underline;
    }

    label {
        @include font18;
        font-weight: bold;
    }

    input {
        @include font18;
        padding: 13px 20px;
        border: none;
        border-radius: 10px;

        &:first-of-type {
            margin-bottom: 30px;
        }

        &:last-of-type {
            @include btn-1;
        }
    }
}