$blue: #4479a4;
$dark-blue: #01235a;
$body-bg: #1a1a1a;
$white: white;
$black: black;

$blue-hover: #335b7b;
$blue-active: #223c52;
$blue-light-focus: #95c3ea;

$font-stack: 'Poppins', sans-serif;

$gradient-header-cover: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 50%);
$btm-boradius-50: 0px 0px 50px 50px;
$all-borderadius-50: 50px;
$trans4: .4s;

// Font style
@mixin font42 {
  font-size: 42px;
  line-height: 50px;
}

@mixin font34 {
  font-size: 34px;
  line-height: 40px;
}

@mixin font26 {
  font-size: 26px;
  line-height: 31px;
}

@mixin font20 {
  font-size: 20px;
  line-height: 33px;
}

@mixin font18 {
  font-size: 18px;
  line-height: 30px;
}

@mixin font14 {
  font-size: 14px;
  line-height: 23px;
}

// Buttons
@mixin btn-1 {
  @include font18();
  padding: 25px 30px;
  width: 100%;
  background-color: $blue;
  border: 1px solid transparent;
  border-radius: 20px;
  color: $white;
  font-family: $font-stack;
  font-weight: bold;
  transition: $trans4;
  cursor: pointer;

  &:hover {
    background-color: $blue-hover;
    color: $white;
  }

  &:focus {
    background-color: $blue-light-focus;
    color: $dark-blue;
  }

  &:active {
    background-color: $blue-active;
    color: $white;
  }
}

@mixin btn-2 {
  @include font18();
  padding: 25px 30px;
  width: 100%;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 20px;
  color: $white;
  font-family: $font-stack;
  font-weight: bold;
  transition: $trans4;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $dark-blue;
  }

  &:focus {
    background-color: $blue-light-focus;
    color: $dark-blue;
  }

  &:active {
    background-color: $blue-active;
    color: $white;
  }
}

// Components
@mixin max500 {
  width: 500px;
  margin: auto;
}

@mixin grid($fr, $gap) {
  display: grid;
  grid-template-columns: $fr;
  gap: $gap; 
}