<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main class="d-flex justify-content-center">
      <section class="row">
        <div class="col-12 text-center">
          <a href="/">Ga naar de homepage</a>
        </div>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
