<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="body-home">
    <header class="header-home">
        <img src="../dist/img/404-cover.jpg" alt="404">
    </header>
    <main class="main-home">
        <h1>404</h1>
        <p>This page is missing for you. How about starting to make an account to collect series to watch later?</p>

        <button>Home</button>
    </main>
    <img class="logo" src="../dist/img/logo.svg" alt="Logo">
</body>
</html>