<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="body-home">
    <header class="header-home">
        <div>
            <h2>Tomorrow</h2>
            <!-- Hier moet een foreach komen waarbij de genres van de series van de database wordt weergegeven -->
            <ul class="header-genres">
                <li>drama</li>
                <li>scifi-fantasy</li>
                <li>action-adventure</li>
            </ul>
        </div>

        <!-- Toon hier de eerste serie van de database -->
        <img src="../dist/img/tomorrow.jpeg" alt="Tomorrow">
        
        <div class="overlay-home"></div>
    </header>
    <main class="main-home">
        <h1>Have all your series in one place</h1>
        <p>Make an account to start your journey to have all your series in one place</p>

        <button>Sign in</button>
        <button>Sign up</button>
    </main>
    <img class="logo" src="../dist/img/logo.svg" alt="Logo">
    <script src="../dist/js/visibility.js"></script>
</body>
</html>