<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row d-flex justify-content-center">


  <div class="col-sm-8 py-4">
    <h1 class="text-center mb-3">Vul de gegevens in</h1>
    <%- include('../forms/onboardingform'); %>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>