<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container" id="users-index">


  <%- include('../partials/header'); %>
    </header>

    <main class="row d-flex justify-content-center">
      <section class="col-sm-8 py-4">
        <%- include('form-create'); %>
      </section>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>
    <script src="/dist/js/scripts.js"></script>
</body>

</html>