<!-- TODO validation toevoegen -->
<!-- TODO Juiste spacing toevoegen -->
<!-- TODO onnodige divs weghalen beter groeperen -->
<form action="/createUser" method="POST">
  <div class="mb-3">
    <div class="form-floating mb-3">
      <input type="text" required class="form-control" id="firstName" placeholder="Voornaam">
      <label for="firstName">Voornaam</label>
    </div>
    <div class="form-floating">
      <input type="text" required class="form-control" id="lastName" placeholder="Achternaam">
      <label for="lastName">Achternaam</label>
    </div>
    <label for="startDate" class="mt-3">Geboortedatum</label>
    <input id="startDate" class="form-control" type="date" />
  </div>
  <div class="row my-3">
    <h3>Upload een foto van jou en je huisdier</h3>
    <div class="col-md-3">
      <img id="frame" src="assets/img/profile.png" class="img-fluid" alt="profile image"/>
  </div>
  <div class="col-md-9 mt-3 mt-md-0">
    <div class="input-group">
      <input type="file" class="form-control" id="formFile" aria-describedby="removeImage" aria-label="Upload" onchange="preview()">
      <button class="btn btn-outline-secondary" onclick="clearImage()" type="button" id="removeImage">Verwijderen</button>
    </div>
  </div>
  <h3>Waar hoop je iemand te vinden</h3>
  <!-- TODO API voor plaatsnamen ophalen -->
  <div class="mb-3">
    <select class="form-select" required aria-label="Default select">
      <option value selected>Selecteer je provincie</option>
      <option value="1">Noord-Holland</option>
      <option value="2">Zuid-Holland</option>
      <option value="3">Utrecht</option>
    </select>
  </div>
  <!-- TODO beschikbare plaatsnamen baseren op geselecteerde provincie -->
  <div class="mb-3">
    <select class="form-select" required aria-label="Default select">
      <option value="" selected>Selecteer je woonplaats</option>
      <option value="1">Amsterdam</option>
      <option value="2">Haarlem</option>
      <option value="3">Utrecht</option>
    </select>
  </div>
  <div class="mb-3">
  </div>
  <h3>Vertel wat meer over je zelf </h3>
  <div class="mb-3">
    <div class="form-floating">
      <textarea class="form-control" placeholder="Vertel wat over je passies of interesses" id="passion" style="height: 100px"></textarea>
      <label for="passion">Je passie</label>
    </div>
  </div>
  <h3>Wat voor huisdier zoek je?</h3>
  <div class="mb-3">
    <label>
      <input type="radio" name="pet_cat" value="cat">
      <img src="assets/img/cat.png" height="100px" alt="Kat categorie">
    </label>
    <label>
      <input type="radio" name="pet_cat" value="dog">
      <img src="assets/img/dog.png" height="100px" alt="Hond categorie">
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Profiel aanmaken</button>
</form>